setuptools==59.5.0
mkl
datasets==1.15.1
torch
pathos
nltk
py-rouge==1.1
pytest
scikit-learn
sentencepiece
transformers==4.12.3
huggingface_hub==0.1.2
accelerate==0.5.1
protobuf==3.20.0
azureml-core
azureml-sdk
matplotlib
pandas
chardet
sacrebleu==2.0.0
rouge-score
access_dict_by_dot
boto3
psutil
pyemd
spacy
tensorboard
